.about {
  height: 100%;
  width: 100%;
  display: table;
  background: url('./media/walkingtommy.png') no-repeat right top fixed;
  background-size: cover;
  //background-position: right top;

  .bgWhite {
    background: #FFF;
  }

  img {
    width: 300px;
    margin: 1rem;
    height: auto;
  }

  h1 {
    background: blue;
    width: 277px;
    padding: 20px;
    color: #FFF;
    text-align: center;
    font-size: 3.7rem;
    margin: 150px 0 300px 0;

    span {
      display: block;
    }
  }
  &__header {
    background: #FFF;
    padding: 100px 0;
    display: flex;
    width: 100%;
    position: relative;
    @media(max-width: 900px) {
      padding: 50px 0;
    }
    @media(max-width: 600px) {
      padding: 0;
      flex-direction: column;
    }

    &--grey {
      color: #6a6a6a;
    }

    i {
      color: #222;
      position: absolute;
      right: 1rem;
      top: 2rem;
      float: right;
    }

    h3, h4 {
      padding: 0 1rem;
      text-align: left;
    }

    p {
      &:hover {
        text-shadow: 1px 1px 1px #f7f7f7;
      }
      @media(max-width: 900px) {
        width: 100%;
      }
    }
  }
  &__paragraph {
    background: #FFF;
    padding: 2rem 0;
    width: 100%;
    position: relative;
    p, h3 {
      padding: 0 1rem;
      max-width: 36rem;
      margin: 1rem auto;
      line-height: 1.5rem;
    }
    li {
      font-family: "consolas", monospace;
      padding: .25rem 1rem;
    }
  }

  &__companies {
    display: flex;
    height: 100%;
    header {
      height: 5rem;
      @media(max-width: 600px) {
        height: 7rem;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
    }
  }
}