$height: 80vh;
$width: 550px;


.case-section {
  padding: 2rem 0;
  height: 100%;
  background: #f9f9f9;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1.5s ease-out;

  &__item {
    max-width: 800px;
    display: flex;
    margin-bottom: 5rem;
    position: relative;
    @media(max-width:600px){
      width: 100%;
      flex-direction: column;
    }
    
    &--text {
      margin-right: -5rem;
      z-index: 100;
      @media(max-width:600px){
        padding-left: 1rem;
        margin: 2rem 0 -2rem 0;
      }
    }

    h2, p {
      color: #fff;
    }

    figure {
      //background-attachment: fixed;
      background-size: cover;
      background-position: center;
      align-self: center;
      width: $width;
      height: $height;
      @media(max-width:600px){
        width: 300px;
        height: 70vh;
        margin: 0 auto;
      }
      
    }
  }
  .overlay {
    opacity: 0;
    background: rgba(0,0,255,.7);
    position: absolute;
    z-index: 90;
    align-self: center;
    width: $width;
    height: $height;
    right: 2.5rem;
    top: 1rem;
    &:hover {
      cursor: pointer;
      transition: all .4s ease-out;
      opacity: 1;
    }
  }
}
