.case-study {
    &__header {
        color: #000;
        background: #fff;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 4rem;

        h1 {
            font-size: calc(.03273*100vw + 12.72727px);
        }

        p {
            font-size: 20px;
            color: #9ea0a6;
            opacity: .7;
            margin: 0;
        }

        &__img {
            margin-top: -5rem;
            height: auto;
            border-radius: 2rem;
            align-self: center;
            box-shadow: 0 0 30px #ccc;
            border: 6px solid #000;
            margin-bottom: 5rem;

            @media (max-width: 600px) {
                margin-top: 3rem;
            }
        }
    }
    &__header-image {
        width: 100%;
        &--smartbokrwebb {
            height: 50vh;
            background: #009ada;
        }
    }

    hr {
        border: none;
        border-bottom: 2px solid #000;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        div {
            flex-basis: 50%;
        }

        img {
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
    &__video-section {
        background: #000;
        width: 100%;
        padding: 5rem 0 2rem 0;
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        video {
            margin-top: -20rem;
            border-radius: 4rem;
            width: 800px;
        }
    }

    .container {
        padding: 130px 1rem;
        video {
            width: 100%;
        }
        p {
            color: #9ea0a6;
        }
    }
}