.intro-content {
    width: 100%;
    overflow: hidden;
    margin: 90px 0 0 0;
    top: -90px;
    padding: 100px 0;
    position: relative;
    text-align: left;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    p {
        color: #F7F7F7;
    }

    .underline {
        background: #fff; 
        bottom: 0; 
        left: 0; 
        height: 5px; 
        width: 65%;
        margin: 10px 0;
    }
}