$blood: linear-gradient(to right, #DD2476, #FF512F);
$blood-reversed: linear-gradient(to right, #FF512F, #DD2476);
$sun: linear-gradient(to right, #FFEDBC, #ED4264);
$tranq: linear-gradient(to right, #d76d77, #ffaf7b);
$skyblue: linear-gradient(to right, #3a9ce2, #0a5f9d);
$shore: linear-gradient(to right, #d3959b, #bfe6ba);
$miaka: linear-gradient(to right, #ec6f66, #f3a183);

$black: #333;
