html {
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 1200px)
    {
        width: 1170px;
    }
    @media (min-width: 992px)
    {
        width: 970px;
    }
    @media (min-width: 768px)
    {
        width: 750px;
    }
}

a {
    text-decoration: none;
    background-color: transparent;
    &:visited {
        text-decoration: none;
    }
    &.hoverBG {
        position: relative;
        display: block;
        background: none;
        padding: 5px 0px 5px 10px;
    }

    &:hover {
         color: #fff;
         text-decoration: none!important;
    }
}

.hoverBG {
    -webkit-transform: translateZ(0);
    &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 35%;
        background:blue;
        transition: width 400ms ease-out;
        z-index: 1;
    }

    &:hover {
        text-decoration: none!important;
        cursor: pointer;
        &::before {
              width: 90%;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}

.hoverCloseBG {
    -webkit-transform: translateZ(0);
    &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 35%;
        background:red;
        transition: width 400ms ease-out;
        z-index: 1;
    }

    &:hover {
        text-decoration: none!important;
        cursor: pointer;
        &::before {
              width: 100%;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}

.top0 {
    top: 0px;
    opacity: 1;
    
}

.top100 {
    opacity: 0.7;
    top:100px;
}
.top-100 {
    top:-100%;
}

.width100 {
    width: 100%!important;
}
.width0 {
    width: 0!important;
}

input {
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #333!important;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
}

.hide {
    display: none;
}

.hide-iphone5 {
    @media (max-width: 321px) {
        display: none;
    }
}

.show {
    display: block;
}

.mobile-mockup {
    width: 300px;
    height: auto;
}


.open-external-link {
    border: 2px solid blue;
    color: blue;
    background: transparent;
    border-radius: 5rem;
    padding: .5rem;
    cursor: pointer;
    font-size: .8rem;
    i {
        padding-left: .25rem;
    }
    &:hover, &:active {
        background: blue;
        color: aliceblue!important;
        transition: all .2s ease-out;
    }
    &:visited {
        color: blue;
    }
}